<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>implicitobjects</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>kishore</servlet-name>
  <jsp-file>/welcome2.jsp</jsp-file>
  <init-param>
  <param-name>driver</param-name>
  <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>kishore</servlet-name>
  <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>cubic</servlet-name>
  <jsp-file>/welcome3.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>cubic</servlet-name>
  <url-pattern>/welcomeee</url-pattern>
  </servlet-mapping>
  <context-param>
  <param-name>url</param-name>
  <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  
</web-app>